<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instance.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @instance.extension %>
</p>

<p>
  <b>Path:</b>
  <%= @instance.path %>
</p>

<p>
  <b>Os:</b>
  <%= @instance.os_id %>
</p>

<p>
  <b>Item:</b>
  <%= @instance.item_id %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
