<%= form_for(@operating_system) do |f| %>
  <% if @operating_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operating_system.errors.count, "error") %> prohibited this operating_system from being saved:</h2>

      <ul>
      <% @operating_system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :os_vendor_id %><br />
    <%= f.number_field :os_vendor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
