<h1>Listing operating_systems</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Os vendor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @operating_systems.each do |operating_system| %>
  <tr>
    <td><%= operating_system.name %></td>
    <td><%= operating_system.os_vendor_id %></td>
    <td><%= link_to 'Show', operating_system %></td>
    <td><%= link_to 'Edit', edit_operating_system_path(operating_system) %></td>
    <td><%= link_to 'Destroy', operating_system, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operating system', new_operating_system_path %>
